<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>alopeyk</name>
	<displayName><![CDATA[AloPeyk]]></displayName>
	<version><![CDATA[1.0.0]]></version>
	<description><![CDATA[Alopeyk On-demand Delivery in PrestaShop shipping methods.]]></description>
	<author><![CDATA[Saeed Sattar Beglou]]></author>
	<tab><![CDATA[shipping_logistics]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
</module>
